# Introduction to Python

## 0. Print

- Allows you to print anything
- Helps you understand what's happening in your code (also known as "debugging")

In [69]:
print(10)
print("saed")
print(10.5)

10
saed
10.5

## 1. Variable Initialization

You can define a varible by giving it a name (e.g. `x`), an equal sign `=`, then giving it a value (e.g. `10` or `"GDSC"`)

In [71]:
x = 10
print(x)

x = "saed"
print(x)

x = 10.5
print(x)

10
saed
10.5

### 1.1. Numerical Types

- Integers (e.g. `1`, `2`, `-10`, `50`, `5`)

In [1]:
x = 10
print(x)

10

You can underscores `_` for readability

In [70]:
x = 1_000_000  # same as x = 1000000
print(x)

1000000

You can **add, subtract, multiple, and divide** them:

In [3]:
x = 25
y = 20
print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x % y)

45
5
500
1.25
5

You can **raise** them to a power:

In [4]:
x = 2
y = 3
w = x ** y
print(w)

8

- Floats/Floating-point numbers (e.g. `1.5`, `2.3`, `-0.000001`, `1.3e10`)

In [5]:
y = 2.5
print(y)

2.5

In [6]:
x = 2e5
print(x)

200000.0

- Complex Numbers (e.g. `1 + 5j`)

In [7]:
z = 1 + 5j
print(z)

(1+5j)

You can do the same operations on those as well:

In [8]:
x = 3.5
y = 3.2
print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x % y)  # This is weird!

6.7
0.2999999999999998
11.200000000000001
1.09375
0.2999999999999998

In [54]:
x = 2
y = 3
z = 4

print(x + y * z)

print((x + y) * z)

14
20

#### How do we get the square root of a number?
- Square root is power of 1/2
- We can raise numbers to powers!

In [9]:
x = 9
print(x ** 0.5)

3.0

#### How about the cubic root?

In [10]:
x = 8
print(x ** 0.333333333)

1.9999999986137056

_But that's obviously wrong!_

#### Here's how to do it!

In [11]:
x = 8
print(x ** (1 / 3))

2.0

### 1.2. String Type
- Consists of a set of characters/symbols; usually representing text
- Can be enclosed in double quotes `"` or single quotes `'`; double quotes `"` are preferred almost all the time

In [12]:
s = "Introduction to Python"  # or s = 'Introduction to Python'
print(s)

Introduction to Python

In [13]:
s = "10"
print(s)

10

In [50]:
s = "this is a long string"
print(s[0])
print(s[5:])
print(s[-1])

t
is a long string
g

In [52]:
name = "saad"
statement = "my name is"

x = statem(ent + " " + name

print(x)

my name is saad

### 1.3. Bool Type
- Represents a logical value (e.g. `True`, `False`, `10 == 5`)

In [56]:
b = True
print(b)

b = False
print(b)

print(b == 10)

True
False
False

### 1.4. Sequence Type

- Lists: can hold multiple values with different types

In [15]:
x = [91, 85, 75, 55, "hello", True]
print(x)

[91, 85, 75, 55, 'hello', True]

You can change an item:

In [16]:
x[0] = "my new value!!!!"  # this is called an item
print(x)

['my new value!!!!', 85, 75, 55, 'hello', True]

In [17]:
w = x[1]
print(w)

85

- Tuples: same as lists; they just can't be changed

In [18]:
x = (91, 85, 75, 55, "hello", True)
print(x)

x[0] = "my new value"

(91, 85, 75, 55, 'hello', True)

TypeError: 'tuple' object does not support item assignment

In [19]:
print(x[0])
print(x[1])

91
85

_What if I want to do_ `x["Mohammad"]` _instead of_ `x[1]`?

### 1.5. Dictionary

- A `key`-`value` store
- Some languages call it a **map**, some call it a **hash table**

`"Saed"` is a key; `65.5` is its value

In [36]:
x = {
    "Saed": 65.5,
    "Mohammad": "91",
    "Ahmad": 70,
    "Anas": "85",
    10: True,
}

print(x)

{'Saed': 65.5, 'Mohammad': '91', 'Ahmad': 70, 'Anas': '85', 10: True}

In [37]:
print(x["Saed"])

65.5

In [42]:
x["hello"] = 1564
print(x)

{'Saed': 65.5, 'Mohammad': '91', 'Ahmad': 70, 'Anas': '85', 10: True, 'hello': 1564}

In [39]:
print(x.keys())

dict_keys(['Saed', 'Mohammad', 'Ahmad', 'Anas', 10, 'hello'])

In [40]:
print(x.values())

dict_values([65.5, '91', 70, '85', True, 85290178509271])

- Anything can be a value

- _Almost_ anything can be a key

## 2. Flow Control

### 2.1. If-else if-else

You give it a condition; it gets evaluated to a boolean (True or False), based on the result we choose our path

In [24]:
if 10 < 15:
    print("ONE")
else:
    print("TWO")

ONE

In [25]:
if 25 > 30:
    print("THREE")
else:
    print("FOUR")

FOUR

In [26]:
if 25 == 30:
    print("HERE")
elif 25 > 30:
    print("NOT HERE")

In [27]:
x = 16

if x != 30:
    print("FIVE")
else:
    print("SIX")

FIVE

In [28]:
x = 81

if 100 > x >= 90:
    print("A")
else:
    print("Not A")

Not A

### 2.2. Loops / Repitition

Python has two types of loops; `for` and `while` loops

You can loop over a list!

In [34]:
grades = [88, 77, 79, 95, 90]

for i in grades:
    print(i)

88
77
79
95
90

You can loop over a dictionary

In [30]:
grades = {
    "Saed": 65.5,
    "Mohammad": 91,
    "Ahmad": 70,
    "Anas": 85,
}

for i in grades:
    print(i)

Saed
Mohammad
Ahmad
Anas

In [31]:
for i in grades:
    print(i, grades[i])

Saed 65.5
Mohammad 91
Ahmad 70
Anas 85

#### I just want to loop for 10 times!

In [32]:
k = 10

for i in range(k):
    print(i)

0
1
2
3
4
5
6
7
8
9

#### Or you can use a while loop for that

In [33]:
k = 10
i = 0

while i < k:
    print(i)
    i = i + 1

0
1
2
3
4
5
6
7
8
9

## 3. Reading user input

In [47]:
a = input("Enter a number: ")
print("The user entered", a)

Enter a number: 22
The user entered 22

Let's add `10` to it!

In [57]:
a + 10

TypeError: can only concatenate str (not "int") to str

#### Everything you read from the user is a string

In [58]:
print(type(a))

<class 'str'>

We should first change it an int

In [66]:
new_a = int(a) # you can also try float(a)

In [67]:
print(type(new_a))

<class 'int'>

In [68]:
print(new_a + 10)

20

## 4. Functions

Let's say we want to get the average grade in an exam!

We get the sum, then we divide by the number of students.

In [4]:
grades = [10,5,7,9,5,6]

counter = 0
total = 0

for i in grades:
    total = total + i
    counter = counter + 1
    
print(total/counter)

7.0

#### What if we have multiple exams and we don't want to keep repeating the code?

In [5]:
def average(grades):
    counter = 0
    total = 0

    for i in grades:
        total = total + i
        counter = counter + 1
        
    avg = total / counter
    
    return avg

and then we just call it!

In [6]:
grades = [10,5,7,9,5,6]
avg = average(grades)
print(avg)

7.0

In [7]:
grades = [10, 5, 10, 3, 5, 3, 6.5, 7, 9, 5, 6]
avg = average(grades)
print(avg)

6.318181818181818

A function can return a value (like `avg`) but it doesn't have to

In [10]:
def greeting(name):
    """This function greets
    :name: str: 
    """
    print("hello,", name)

In [11]:
greeting("students")

hello, students

In [14]:
hello("GDSC")

hello, GDSC

## 5. Modules

You're not always going to write everything from scratch.

Also, python has a lot of open-source libraries that you can just download and use, almost for anything you can think of!

You use `import` to load code from other modules or libraries:

```python
import matplotlib.pyplot

matplotlib.pyplot.plot(...)
```


you can use `as` to shortcut/alias the usage:
```python
import matplotlib.pyplot as abc

abc.plot(...)
```