<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.

# Introduction to Python

## 0. Print

- Allows you to print anything
- Helps you understand what's happening in your code (also known as "debugging")

In [ ]:
print(10)
print("saed")
print(-10.5)

## 0.0 Comments
Anything you write is a code except if it has a `#` before it

In [ ]:
print(10) # this prints the number 10

## 1. Variable (object) Initialization

Everything in Python is an object. You can define an object (variable) by giving it a name (e.g. `x`), an equal sign `=`, then giving it a value (e.g. `10` or `"GDSC"`)

In [ ]:
x = 10
print(x)

x = "saed"
print(x)

x = 10.5
print(x)

### 1.1. Numerical Types

- Integers (e.g. `1`, `2`, `-10`, `50`, `5`)

In [ ]:
x = 10
print(x)

You can underscores `_` for readability

In [ ]:
x = 1_000_000  # same as x = 1000000
print(x)

You can **add, subtract, multiple, and divide** them:

In [ ]:
x = 25
y = 20
print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x % y)

You can **raise** them to a power:

In [ ]:
x = 2
y = 3
w = x ** y
print(w)

- Floats/Floating-point numbers (e.g. `1.5`, `2.3`, `-0.000001`, `1.3e10`). They represent **Real** numbers.

In [ ]:
y = 2.5
print(y)

In [ ]:
x = 2e5
print(x)

- Complex Numbers (e.g. `1 + 5j`)

In [ ]:
z = 1 + 5j
print(z)

You can do the same operations on those as well:

In [ ]:
x = 3.5
y = 3.2
print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x % y)  # This is weird!

In [ ]:
x = 2
y = 3
z = 4

print(x + y * z)

print((x + y) * z)

#### How do we get the square root of a number?
- Square root is power of 1/2
- We can raise numbers to powers!

In [ ]:
x = 9
print(x ** 0.5)

#### How about the cubic root?

In [ ]:
x = 8
print(x ** 0.333333333)

_But that's obviously wrong!_

#### Here's how to do it!

In [ ]:
x = 8
print(x ** (1 / 3))

### 1.2. String Type
- Consists of a set of characters/symbols; usually representing text
- Can be enclosed in double quotes `"` or single quotes `'`; double quotes `"` are preferred almost all the time

In [ ]:
s = "Introduction to Python"  # or s = 'Introduction to Python'
print(s)

In [ ]:
s = "10"
print(s)

In [ ]:
s = "this is a long\nstring on two lines" # \n means a new line
print(s)

In [ ]:
print(s[0])
print(s[5:10])
print(s[-1])

In [ ]:
name = "saad"
statement = "my name is"

x = statement + " " + name

print(x)

In [ ]:
x.upper() # uppercase = capital letters

In [ ]:
help(sum)

### 1.3. Bool Type
- Represents a logical value (e.g. `True`, `False`, `10 == 5`)

In [ ]:
b = True
print(b)

b = False
print(b)

print(b == 10)

### 1.4. Sequence Type

- Lists: can hold multiple values with different types
- In C++, this is closer to an array

In [ ]:
x = [91, 85, 75, 55, "hello", True]
print(x)

You can change an item:

In [ ]:
x[0] = "my new value!!!!"  # this is called an item
print(x)

In [ ]:
w = x[1]
print(w)

Add a new item?

In [ ]:
x.append("new item!")
print(x)

How many items in the list?

You can `len(...)` to know that. `len` stands for Length.

In [ ]:
len(x)

- Tuples: same as lists; they just can't be changed

In [ ]:
x = (91, 85, 75, 55, "hello", True)
print(x)

x[0] = "my new value"

In [ ]:
print(x[0])
print(x[1])

_What if I want to do_ `x["Mohammad"]` _instead of_ `x[1]`?

### 1.5. Dictionary

- A `key`-`value` store
- Some languages call it a **map**, some call it a **hash table**
- In c++, this is closer to a `map`

`"Saed"` is a key; `65.5` is its value

In [ ]:
x = {
    "Saed": 65.5,
    "Mohammad": "91",
    "Ahmad": 70,
    "Anas": "85",
    10: True,
}

print(x)

In [ ]:
print(x["Saed"])

In [ ]:
x["hello"] = 1564
print(x)

In [ ]:
print(x.keys())

In [ ]:
print(x.values())

- Anything can be a value

- _Almost_ anything can be a key

## 2. Flow Control

### 2.1. If-else if-else

You give it a condition; it gets evaluated to a boolean (True or False), based on the result we choose our path

In [ ]:
if 10 < 15:
    print("ONE")
else:
    print("TWO")

In [ ]:
if 25 > 30:
    print("THREE")
else:
    print("FOUR")

In [ ]:
if 25 == 30:
    print("HERE")
elif 25 > 30:
    print("NOT HERE")

In [ ]:
x = 16

if x != 30:
    print("FIVE")
else:
    print("SIX")

In [ ]:
x = 81

if 100 > x >= 90:
    print("A")
else:
    print("Not A")

You can use `and`, `or`, and `not`.

Those are equivelant to `&&`, `||`, `!` in C++.

In [ ]:
x = 81

if 100 > x and x >= 90:
    print("A")
else:
    print("Not A")

In [ ]:
x = 81

if x > 100 or x < -100:
    print("HELLO")
else:
    print("BYE")

### 2.2. Loops / Repitition

Python has two types of loops; `for` and `while` loops

You can loop over a list!

In [ ]:
grades = [88, 77, 79, 95, 90]

for i in grades:
    print(i)

You can loop over a dictionary

In [ ]:
grades = {
    "Saed": 65.5,
    "Mohammad": 91,
    "Ahmad": 70,
    "Anas": 85,
}

for i in grades:
    print(i)

In [ ]:
for i in grades:
    print(i, grades[i])

#### I just want to loop for 10 times!

In [ ]:
k = 10
mylist = []

for i in range(k):
    if i == 5:
        continue
    mylist.append(i)
    print("added", i, "to the list")

print(mylist)

#### Or you can use a while loop for that

In [ ]:
k = 10
i = 0

while i < k:
    print(i)
    i = i + 1

Another way of doing it is:

In [ ]:
k = 10
i = 0

while True:
    print(i)
    i = i + 1
    if i >= k:
        break

## 3. Reading user input

In [ ]:
a = input("Enter a number: ")
print("The user entered", a)

Let's add `10` to it!

In [ ]:
a + 10

#### Everything you read from the user is a string

In [ ]:
print(type(a))

We should first change it an int

In [ ]:
new_a = int(a)  # you can also try float(a)

In [ ]:
print(type(new_a))

In [ ]:
print(new_a + 10)

## 4. Functions

Let's say we want to get the average grade in an exam!

We get the sum, then we divide by the number of students.

In [ ]:
grades = [10, 5, 7, 9, 5, 6]

counter = 0
total = 0

for i in grades:
    total = total + i
    counter = counter + 1

print(total / counter)

#### What if we have multiple exams and we don't want to keep repeating the code?

In [ ]:
def average(grades):
    counter = 0
    total = 0

    for i in grades:
        total = total + i
        counter = counter + 1

    avg = total / counter

    return avg

and then we just call it!

In [ ]:
grades = [10, 5, 7, 9, 5, 6]
avg = average(grades)
print(avg)

In [ ]:
grades = [10, 5, 10, 3, 5, 3, 6.5, 7, 9, 5, 6]
avg = average(grades)
print(avg)

A function can return a value (like `avg`) but it doesn't have to

In [ ]:
def greet(greeting, name):
    """This function greets
    Parameters
    ----------
    greeting : str
        What to greet people with
    name : bool, optional
        Who to greet
    """
    print(greeting, name)

In [ ]:
greet("hello", "students")

In [ ]:
greet("salam", "GDSC")

#### Calculus?
<i><h4>f(x) = x<sup>2</sup> + 2x - 5</h4></i>

In [ ]:
def f(x):
    return x ** 2 + 2 * x - 5

In [ ]:
print(f(1))

In [ ]:
print(f(0.1))

In [ ]:
print(f(2 + 5j))

## 5. Modules

You're not always going to write everything from scratch.

Also, python has a lot of open-source libraries that you can just download and use, almost for anything you can think of!

You use `import` to load code from other modules or libraries:

```python
import functions

functions.f(...)
```


you can use `as` to shortcut/alias the usage:
```python
import functions as abc

abc.f(...)
```

You only need to do it once in a file or notebook! (unless it's inside a function)

In [ ]:
import functions

print(functions.f(1))

In [ ]:
import functions as abc

print(abc.f(1))

## Example 1. Average CoViD-19 Cases

1. The data exists in a file named `covid.txt`.
2. Each line represents a day.
3. We want to calculate the average of that.

### How to do it?

1. **Open** the file.
2. **Read** a line.
3. **Convert** it to a number (integer or float)
4. **Add** it to list
5. **Repeat** from `3.` until the file is finished.
6. **Calculate** the sum.
7. **Divide** by the number of days.

In [ ]:
file = open("covid.txt", "r") # "r" means read; "w" means write

numbers = []

for line in file: # this will read a line in every iteration; "iteration means 1 cycle inside a loop
    num = int(line)
    numbers.append(num)

print("How many numbers do we have?", len(numbers))
print(numbers)

In [ ]:
total = sum(numbers)
print(total)

avg = total/len(numbers)
print("average cases per day:", avg)

In [ ]:
def average(nums):
    total = sum(nums)
    avg = total/len(nums)
    
    return avg

In [ ]:
average(numbers)

## Example 2. Average CoViD-19 Cases (file on the internet)

What if the file exists on the internet? Can I do the same thing without downloading it manually?

In [ ]:
import requests

link = "https://maktabti.xyz/covid.txt"

result = requests.get(link)

print("http code:", result.status_code) # 200's are ok, 400's and 500's mean something went wrong

content = result.text
print("response:", content)

In [ ]:
print(content.split("\n"))

In [ ]:
lines = content.split("\n")
numbers = []

for i in lines:
    if i == "":
        continue
        
    num = int(i)
    numbers.append(num)
    
print(average(numbers))

## Example 3. I want to **plot** this in xy-plane
<img src="https://cdn.ablebits.com/_img-blog/line-graph/line-graph-excel.png" width="300px"/>

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.plot(numbers)

### Can we do that to our own function or data?

In [ ]:
def f(x):
    return x ** 3 + 2 * x - 5

In [ ]:
x = []
y = []

for i in range(-100, 100):
    value = f(i)
    x.append(i)
    y.append(value)

In [ ]:
plt.plot(x, y)